<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Developer"/>
          <allow roles="Medewerker"/>
          <allow roles="Bedrijfsverantwoordelijke"/>
          <deny roles="Gebruiker"/>
          <deny roles="GebruikerBedrijf"/>
          <deny users="*"/>
        </authorization>
    </system.web>
</configuration>