<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Gebruiker" />
            <allow roles="Medewerker" />
            <allow roles="Bedrijfsverantwoordelijke" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>