/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page {
margin-top: 5em;
}

/*
 * Header
 */
#header {
}

#header .section {
}

.region-header {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

/*
 * Content
 */
 
#content,
#logo-area,
.no-sidebars #content {
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #topleftcontent
{
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 640px;
  margin-left: 201px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#topleftcontent .section
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-first #toprightcontent
{
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 640px;
  margin-left: 201px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#toprightcontent .section
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-first #lowerleftcontent
{
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 640px;
  margin-left: 201px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#lowerleftcontent .section
{
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-first #lowerrightcontent
{
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 640px;
  margin-left: 201px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#lowerrightcontent .section
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-first #content {
  width: 640px;
  margin-left: 201px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#logo-area .section,
#content .section {
  margin: 0;
  padding: 0;
}

#content
{
  margin-top: 6.1em; 
  border: 2px solid #FF9933;
  min-height: 560px;
  padding: 20px;
  color: #FF9933;
}

.content-with-other-divs
{
  border: 2px solid white;
  min-height: 560px;
  padding: 20px;
  color: #FF9933;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 5.6em; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content
{
    margin-top: 6.1em; 
}

.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 4.7em; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 200px;
  margin-top: 4.7em;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 20px 0 0; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
#topleftcontent,
#toprightcontent,
#lowerleftcontent,
#lowerrightcontent,
#logo-area,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

/* Extra CSS */

/* Bovenste menu */

.menu-knop
{
    padding-top: 2em;
    text-align: center;
    vertical-align: middle;
    float: left;
    font-weight: 800;
    padding-top: 1.5em;
    font-size: 150%;
}

.menu-knop a:link {color: darkgreen; text-decoration: none; }
.menu-knop a:active {color: darkgreen; text-decoration: none; }
.menu-knop a:visited {color: darkgreen; text-decoration: none; }
.menu-knop a:hover {color: darkgreen; text-decoration: none; }

#menu-knop-home
{
    width: 150px;
    height: 78px;
    background-image: url('../images/menu-home.png');
    background-repeat: no-repeat;
}

#menu-knop-biodiversiteit
{
    margin-left: 0.37em;
    width: 158px;
    height: 78px;
    background-image: url('../images/menu-biodiversiteit.png');
    background-repeat: no-repeat;
}

#menu-knop-nieuws
{
    margin-left: 0.5em;
    width: 155px;
    height: 78px;
    background-image: url('../images/menu-nieuws.png');
    background-repeat: no-repeat;
}

#menu-knop-tipsenweetjes
{
    margin-left: 0.35em;
    width: 186px;
    height: 78px;
    background-image: url('../images/menu-tipsenweetjes.png');
    background-repeat: no-repeat;
}

#menu-knop-contact
{
    margin-left: 0.35em;
    width: 161px;
    height: 78px;
    background-image: url('../images/menu-contact.png');
    background-repeat: no-repeat;
}

.with-navigation #topleftcontent,
.with-navigation #toprightcontent
{
  margin-top: 7.1em; /* Set this to the same value as the navigation height above. */
}

/* Algemene content */

#content a:link {color: #FF9933; text-decoration: underline; }
#content a:active {color: #FF9933; text-decoration: underline; }
#content a:visited {color: #FF9933; text-decoration: underline; }
#content a:hover {color: #FF9933; text-decoration: underline; }

/* Top left content */
#topleftcontent
{
    background-color: #FF9933;
    color: white;
}

#topleftcontent a:link {color: white; text-decoration: underline; }
#topleftcontent a:active {color: white; text-decoration: underline; }
#topleftcontent a:visited {color: white; text-decoration: underline; }
#topleftcontent a:hover {color: white; text-decoration: underline; }

.sidebar-first #topleftcontent
{
  line-height: 1em;
  font-size: 12px;
  width: 322px;
  height: 233px;
  margin-left: 158px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -480px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/* Top right content */
#toprightcontent
{
    border: 2px solid #FF9933;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-first #toprightcontent
{
  line-height: 1em;
  font-size: 12px;
  width: 351px;
  height: 147px;
  margin-left: 486px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#toprightcontent a:link {color: #FF9933; text-decoration: underline; }
#toprightcontent a:active {color: #FF9933; text-decoration: underline; }
#toprightcontent a:visited {color: #FF9933; text-decoration: underline; }
#toprightcontent a:hover {color: #FF9933; text-decoration: underline; }

/* Lower left content */

.with-navigation #lowerleftcontent
{
  margin-top: 27em; /* Set this to the same value as the navigation height above. */
}

#lowerleftcontent
{
    border: 2px solid #FF9933;
    color: #FF9933;
    padding-left: 10px;
    padding-right: 10px;
}

#lowerleftcontent a:link {color: #FF9933; text-decoration: underline; }
#lowerleftcontent a:active {color: #FF9933; text-decoration: underline; }
#lowerleftcontent a:visited {color: #FF9933; text-decoration: underline; }
#lowerleftcontent a:hover {color: #FF9933; text-decoration: underline; }

.sidebar-first #lowerleftcontent
{
  line-height: 1em;
  font-size: 12px;
  width: 319px;
  height: 266px;
  margin-left: 157px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -480px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/* Lower right content */

.with-navigation #lowerrightcontent
{
  margin-top: 20.3em; /* Set this to the same value as the navigation height above. */
}

#lowerrightcontent
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #478136;
    color: white;
    background-image: url('../images/menu-rechts.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

#lowerrightcontent a:link {color: white; text-decoration: underline; }
#lowerrightcontent a:active {color: white; text-decoration: underline; }
#lowerrightcontent a:visited {color: white; text-decoration: underline; }
#lowerrightcontent a:hover {color: white; text-decoration: underline; }

.sidebar-first #lowerrightcontent
{
  line-height: 1em;
  font-size: 12px;
  width: 355px;
  height: 280px;
  margin-left: 486px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -841px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.with-navigation #logo-area
{
  margin-top: 38.95em; /* Set this to the same value as the navigation height above. */
}

#logo-area
{
}

.sidebar-first #logo-area-under-content
{
  margin-top: 1em;
  width: 354px;
  height: 52px;
  margin-left: 526px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -880px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-first #logo-area
{
  width: 354px;
  height: 52px;
  margin-left: 486px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -840px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#logo-natuurstek-image
{
  width: 354px;
  height: 52px;
}

/* Doel van de site op frontpage */

#block-views-doel-van-de-site-block h2
{
    color: #FF9933;
}

.doel_van_de_site_tekst
{
    color: #FF9933;
}

/* "Te Doen Deze Week" foto op frontpage */

.views-field-field-tedoendezeweek-teaser
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.te_doen_deze_week_foto_frontpage
{
    float:right;
    padding: 2px;
}

.te_doen_deze_week_titel_frontpage
{
    font-size: 125%;
    font-weight: 800; 
    margin-bottom: 3px;
}

.te_doen_deze_week_datum_gewijzigd_frontpage
{
    margin-bottom: 5px;
}

#block-views-te-doen-deze-week-block h2
{
    color: white;
    margin-bottom: 10px;
}

/* Recentste nieuws */

.recent_nieuws_titel
{
    margin-bottom: 5px;
}

.recent_nieuws_tekst
{
    margin-bottom: 1em;
}

.recent_nieuws_datum
{
   margin-bottom: 5px;
}

.recent_nieuws_foto
{
    float: right;
}

/* Nieuwsbericht content type */

.node-nieuwsbericht
{
  font-size: 14px;
}

.field-name-field-nieuwsbericht-teaser
{
    font-weight: 800;
}

.field-name-field-foto
{
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

.field-name-field-nieuwsbericht-tekst
{
    clear: both;
    padding-top: 10px;
}

/* Te Doen Deze week content type */

.field-name-field-event-foto
{
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

.field-name-field-tedoendezeweek-teaser
{
    font-weight: 800;
}

.field-name-body
{
    clear: both;
    padding-top: 10px;
}

.field-name-field-event-locatie
{
    margin-bottom: 1em;
}

/* Achtergrondartikel content type */

.node-achtergrondartikel a:link {color: #FF9933; text-decoration: underline; }
.node-achtergrondartikel a:active {color: #FF9933; text-decoration: underline; }
.node-achtergrondartikel a:visited {color: #FF9933; text-decoration: underline; }
.node-achtergrondartikel a:hover {color: #FF9933; text-decoration: underline; }

/* Menu voor te doen deze week archief */

.te-doen-deze-week-archief-block-view
{
    width: 150px;
    padding-bottom: 10px;
    background-color: #8CC63F;
    background-image: url('../images/menu-links.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.te-doen-deze-week-archief-block-view ul li
{
    color: white;
    list-style-type: none;
    list-style-image: none;
}

.te-doen-deze-week-archief-block-view > ul
{
    padding-left: 0;
    margin-left: 3px;
    font-weight: 800;
}

.te-doen-deze-week-archief-block-view ul li
{
    margin-left: -1.7em;
}

.te-doen-deze-week-archief-block-view a:link {color: #FFF; text-decoration: none; }
.te-doen-deze-week-archief-block-view a:active {color: #FFF; text-decoration: none; }
.te-doen-deze-week-archief-block-view a:visited {color: #FFF; text-decoration: none; }
.te-doen-deze-week-archief-block-view a:hover {color: #EEE; text-decoration: underline; }

/* Menu voor nieuwsarchief */

.nieuwsarchief-view
{
}

/* Menu voor categorie van achtergrondartikels */
.menu-name-menu-categories
{
    width: 150px;
    padding-bottom: 10px;
    background-color: #8CC63F;
    background-image: url('../images/menu-links.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

/* Standaard: enkel top-level elementen tonen */
.menu-name-menu-categories ul ul
{
    display: none;
}


.menu-name-menu-categories ul li
{
    color: white;
    list-style-type: none;
    list-style-image: none;
}

.menu-name-menu-categories > ul
{
    padding-left: 0;
    margin-left: 3px;
    font-weight: 800;
}

.menu-name-menu-categories a:link {color: #FFF; text-decoration: none; }
.menu-name-menu-categories a:active {color: #FFF; text-decoration: none; }
.menu-name-menu-categories a:visited {color: #FFF; text-decoration: none; }
.menu-name-menu-categories a:hover {color: #EEE; text-decoration: underline; }

.menu-name-menu-categories ul li ul li
{
    margin-left: -1em;
}

/* Te Doen Deze Week Archief */

.tedoendezeweek_archief_item
{
}